<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="LOG_DIR">target/logs</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>

        <!-- Console: coloured output during local runs -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %highlight{%-5level}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=blue, TRACE=white} %cyan{%logger{20}} - %msg%n</Pattern>
            </PatternLayout>
        </Console>

        <!-- Rolling file: one file per day, 30-day retention -->
        <RollingFile name="FileAppender"
                     fileName="${LOG_DIR}/amazon-framework.log"
                     filePattern="${LOG_DIR}/amazon-framework-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- Separate file for test failures only -->
        <RollingFile name="ErrorAppender"
                     fileName="${LOG_DIR}/errors.log"
                     filePattern="${LOG_DIR}/errors-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!-- Framework core: DEBUG level for maximum visibility -->
        <Logger name="com.amazon.framework" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="ErrorAppender"/>
        </Logger>

        <!-- Test modules: INFO level -->
        <Logger name="com.amazon" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="ErrorAppender"/>
        </Logger>

        <!-- Suppress noisy library logs -->
        <Logger name="org.openqa.selenium" level="WARN"/>
        <Logger name="io.github.bonigarcia" level="WARN"/>
        <Logger name="org.apache.poi" level="WARN"/>
        <Logger name="com.zaxxer.hikari" level="WARN"/>
        <Logger name="io.cucumber" level="INFO"/>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>

</Configuration>
